# Numbeo_Data_Scrapping

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://www.numbeo.com/quality-of-life/rankings.jsp"

In [3]:
headers = {
    "User-Agent": "Mozilla/5.0"
}
response = requests.get(url, headers=headers)

In [4]:
soup = BeautifulSoup(response.text, "html.parser")

In [5]:
table = soup.find("table", {"id": "t2"})

In [6]:
headers = [th.text.strip() for th in table.find("thead").find_all("th")]

In [7]:
data = []
for row in table.find("tbody").find_all("tr"):
    cols = [td.text.strip() for td in row.find_all("td")]
    data.append(cols)

In [8]:
df = pd.DataFrame(data, columns=headers)
df

,Rank,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,,"The Hague (Den Haag), Netherlands",229.0,151.8,79.5,80.7,58.3,5.7,21.0,17.9,90.6
1,,"Groningen, Netherlands",225.9,153.5,78.1,76.4,54.5,5.0,20.1,18.8,83.5
2,,"Luxembourg, Luxembourg",219.9,174.4,71.3,76.3,66.0,8.8,27.5,21.6,82.6
3,,"Eindhoven, Netherlands",218.3,140.6,78.4,79.0,59.9,6.4,24.0,19.2,85.4
4,,"Basel, Switzerland",217.0,182.4,72.9,71.6,98.0,8.5,27.6,24.9,82.8
...,...,...,...,...,...,...,...,...,...,...,...
258,,"Ho Chi Minh City, Vietnam",72.6,42.1,48.5,62.0,28.5,34.0,31.9,92.5,63.4
259,,"Dhaka, Bangladesh",64.6,37.7,37.7,40.2,23.6,13.2,61.4,94.3,71.3
260,,"Tehran, Iran",61.4,25.1,42.8,53.3,26.3,32.7,52.3,80.3,71.0
261,,"Manila, Philippines",60.2,37.7,35.5,62.5,34.3,29.0,51.3,89.8,61.2
262,,"Lagos, Nigeria",15.9,11.4,31.9,47.5,30.5,46.8,70.0,88.5,60.8

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            263 non-null    object
 1   City                            263 non-null    object
 2   Quality of Life Index           263 non-null    object
 3   Purchasing Power Index          263 non-null    object
 4   Safety Index                    263 non-null    object
 5   Health Care Index               263 non-null    object
 6   Cost of Living Index            263 non-null    object
 7   Property Price to Income Ratio  263 non-null    object
 8   Traffic Commute Time Index      263 non-null    object
 9   Pollution Index                 263 non-null    object
 10  Climate Index                   263 non-null    object
dtypes: object(11)
memory usage: 22.7+ KB

In [10]:
for col in df.columns[2:]:
    df[col] = df[col].astype(float)

In [11]:
df

,Rank,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,,"The Hague (Den Haag), Netherlands",229.0,151.8,79.5,80.7,58.3,5.7,21.0,17.9,90.6
1,,"Groningen, Netherlands",225.9,153.5,78.1,76.4,54.5,5.0,20.1,18.8,83.5
2,,"Luxembourg, Luxembourg",219.9,174.4,71.3,76.3,66.0,8.8,27.5,21.6,82.6
3,,"Eindhoven, Netherlands",218.3,140.6,78.4,79.0,59.9,6.4,24.0,19.2,85.4
4,,"Basel, Switzerland",217.0,182.4,72.9,71.6,98.0,8.5,27.6,24.9,82.8
...,...,...,...,...,...,...,...,...,...,...,...
258,,"Ho Chi Minh City, Vietnam",72.6,42.1,48.5,62.0,28.5,34.0,31.9,92.5,63.4
259,,"Dhaka, Bangladesh",64.6,37.7,37.7,40.2,23.6,13.2,61.4,94.3,71.3
260,,"Tehran, Iran",61.4,25.1,42.8,53.3,26.3,32.7,52.3,80.3,71.0
261,,"Manila, Philippines",60.2,37.7,35.5,62.5,34.3,29.0,51.3,89.8,61.2
262,,"Lagos, Nigeria",15.9,11.4,31.9,47.5,30.5,46.8,70.0,88.5,60.8

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            263 non-null    object
 1   City                            263 non-null    object
 2   Quality of Life Index           263 non-null    float64
 3   Purchasing Power Index          263 non-null    float64
 4   Safety Index                    263 non-null    float64
 5   Health Care Index               263 non-null    float64
 6   Cost of Living Index            263 non-null    float64
 7   Property Price to Income Ratio  263 non-null    float64
 8   Traffic Commute Time Index      263 non-null    float64
 9   Pollution Index                 263 non-null    float64
 10  Climate Index                   263 non-null    float64
dtypes: float64(9), object(2)
memory usage: 22.7+ KB

In [13]:
df['Rank']

0
1
2
3
4
      ..
258
259
260
261
262
Name: Rank, Length: 263, dtype: object

In [14]:
df["Rank"] = range(1, len(df) + 1)
df

,Rank,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,1,"The Hague (Den Haag), Netherlands",229.0,151.8,79.5,80.7,58.3,5.7,21.0,17.9,90.6
1,2,"Groningen, Netherlands",225.9,153.5,78.1,76.4,54.5,5.0,20.1,18.8,83.5
2,3,"Luxembourg, Luxembourg",219.9,174.4,71.3,76.3,66.0,8.8,27.5,21.6,82.6
3,4,"Eindhoven, Netherlands",218.3,140.6,78.4,79.0,59.9,6.4,24.0,19.2,85.4
4,5,"Basel, Switzerland",217.0,182.4,72.9,71.6,98.0,8.5,27.6,24.9,82.8
...,...,...,...,...,...,...,...,...,...,...,...
258,259,"Ho Chi Minh City, Vietnam",72.6,42.1,48.5,62.0,28.5,34.0,31.9,92.5,63.4
259,260,"Dhaka, Bangladesh",64.6,37.7,37.7,40.2,23.6,13.2,61.4,94.3,71.3
260,261,"Tehran, Iran",61.4,25.1,42.8,53.3,26.3,32.7,52.3,80.3,71.0
261,262,"Manila, Philippines",60.2,37.7,35.5,62.5,34.3,29.0,51.3,89.8,61.2
262,263,"Lagos, Nigeria",15.9,11.4,31.9,47.5,30.5,46.8,70.0,88.5,60.8

In [15]:
df.to_csv("quality_of_life_clean.csv", index=False)